@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


:root {
    --text-color: #51291E;
    --border-color: #51291E;
    --button-color: #B7CCB9;
    --dark-green: #81A684;
    --light-background: #FBF6EF;
}

body {
    color: var(--text-color);
    text-align: center;
    font-family: 'Rancho', cursive;
}

.title {
    color: var(--text-color);
    font-family: 'Sacramento', cursive;
    font-size: 27px;
}

.plantName {
    font-size: 30px;
    line-height: 37px;
    position: absolute;
    transform-origin: 0%;
    transform: rotate(-90deg);
    left: 53px;
    top: 105px;
    text-transform: capitalize;
}


.square-container {
    border: 3.5px solid var(--border-color);
    width: 145px;
    height: 145px;
    background-color: var(--light-background);
    display: grid;
    align-content: space-around;
    border-radius: 5px;
    margin-bottom: 4%;
}

.fourSeeds {
    grid-template-columns: 1fr 1fr;
}

.nineSeeds {
    grid-template-columns: 1fr 1fr 1fr;
}

.sixteenSeeds {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.seed {
    width: 19px;
    height: 19px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--dark-green);
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .9rem;
    margin: 2%;
}

.plant-button {
    font-family: 'Rancho', cursive;
    text-transform: capitalize;
    background-color: var(--button-color);
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid var(--dark-green);
    height: 2.7rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-bar-input {
    width: 277px;
    height: 45px;
    font-family: 'Rancho', cursive;
    font-size: 20px;
    color: var(--border-color);
    text-transform: capitalize;
    background: var(--light-background);
    margin-bottom: 1.25rem;
    border: 2px solid var(--border-color);
    padding-left: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}