:root {
    --text-color: #213A82;
    --seed-color: #698D68;
    --border-color: #A36D00;
    --button-color: #C1CC99;
}


body {
    color: var(--text-color);
    text-align: center;
}

.square-container {
    border: 10px solid var(--border-color);
    width: 100px;
    height: 100px;
    display: grid;
    align-content: space-around;
    border-radius: 10%;
    margin-bottom: 4%;
}

.fourSeeds {
    grid-template-columns: 1fr 1fr;
}

.nineSeeds {
    grid-template-columns: 1fr 1fr 1fr;
}

.sixteenSeeds {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.seed {
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--seed-color);
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.plant-button {
    background-color: var(--button-color);
    font-size: 16px;
    border-radius: 10px;
}